$b-color:#141F3C;
$s-color:#192C54;
$lb-color:#4C5A75;
$l-color:#E9E9E9;
$c-color:#E7DAD1;
$smoke:whitesmoke;
$grey:#9CA1A6;
$val:0.5em;
$empty-val:none;
$hidden:hidden;
 @mixin display($scr){
    display:$scr;
 }
 @mixin area($areas){
     grid-area:$areas;
 }
 @mixin d_grid($g_display,$columns,$rows,$g_areas){
    display: $g_display;
    grid-template-columns:$columns;
    grid-template-rows:$rows;
    grid-template-areas:$g_areas;
 }
 @mixin d_flex($f_display,$direction,$justify,$align){
    display:$f_display;
    flex-direction:$direction;
    justify-content:$justify;
    align-items:$align;
 }
 @mixin size($hgt,$wdt){
    height:$hgt;
    width:$wdt;
}
 @mixin f_size($font){
     font-size:$font;
 }
 @mixin radius($bdr){
     border-radius:$bdr; 
 }
 @mixin size($hgt,$wdt){
    height:$hgt;
    width:$wdt;
}
@mixin percent($p_vh){
    margin:$p_vh;
}
 @function calculation($value, $factor){
     @return ($value * $factor);
 }
 %test{
    border:solid 1pc red;    
 }
body{
    position: relative;
    margin:0;
    overflow:$hidden;
    @include size(100%,100%);
    background-color:$s-color;
    color:$l-color;

    .dock{
        background-color:$l-color;
        @include percent(25vh 25vw);
        @include radius(6px);
        @include size(250px,700px);
        @include d_grid(grid,
                        60% 40%,
                        1fr,
                        'img form'
                        'img form');


                        .img{
                            @include area(img);
                        }
                        .form{
                            @include area(form);
                        }
                        #hr{
                            @include size(100%,100%);
                        }
                        .form_camp{
                            color:#141F3C;
                            @include size(100%,100%);
                            @include d_flex(flex,column,center,center)
                        }

    }
}

