@charset "UTF-8";
body {
  position: relative;
  margin: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: #192C54;
  color: #E9E9E9; }
  body .dock {
    /*
            dispositivos já estilizados ou com layouts definidos:
            
            854  x 480 | orientation:landscape
            736  x 414 | orientation:landscape
            732  x 412 | orientation:landscape
            731  x 411 | orientation:landscape
            667  x 375 | orientation:landscape
            640  x 360 | orientation:landscape
            640  x 384 | orientation:landscape
            568  x 320 | orientation:landscape
            533  x 320 | orientation:landscape
            1024 x 600 | orientation:landscape
        */
    background-color: #E9E9E9;
    /* em responsividade este valor não se adapta bem */
    margin: 25vh;
    border-radius: 6px;
    height: 250px;
    width: 700px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
    grid-template-areas: "img form" "img form"; }
    @media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape) {
      body .dock {
        display: none; } }
    @media (max-device-width: 1023px) {
      body .dock {
        /*display:none;*/ } }
    @media screen and (max-device-width: 1024px) and (max-device-height: 600px) and (orientation: portrait) {
      body .dock {
        /*display:none;*/ } }
    body .dock .img {
      grid-area: img; }
    body .dock .form {
      grid-area: form; }
    body .dock #hr {
      height: 100%;
      width: 100%; }
    body .dock .form_camp {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      body .dock .form_camp .title {
        color: #141F3C;
        margin-bottom: 0.5em;
        font-size: X-large; }
      body .dock .form_camp .login {
        color: #4C5A75; }
      body .dock .form_camp #admin {
        padding: 0.3em;
        width: 90%;
        outline: none;
        border: solid 1px rgba(0, 0, 0, 0.3);
        margin: 0.1em 0; }
        body .dock .form_camp #admin:hover {
          border: solid 1px #141F3C;
          box-shadow: 0px 0px 3px; }
      body .dock .form_camp #pass {
        padding: 0.3em;
        width: 90%;
        outline: none;
        border: solid 1px rgba(0, 0, 0, 0.3);
        margin: 0.1em 0; }
        body .dock .form_camp #pass:hover {
          border: solid 1px #141F3C;
          box-shadow: 0px 0px 3px; }
      body .dock .form_camp #button {
        font-weight: bold;
        margin-top: 0.5em;
        width: 90%;
        color: #E9E9E9;
        background-color: #141F3C;
        border: none;
        outline: none;
        padding: 0.2em; }
        body .dock .form_camp #button:hover {
          color: #E7DAD1; }
  body #empty, body #alerting, body #nofetch {
    width: 60%;
    font-weight: bold;
    text-align: center;
    font-size: large;
    margin: 0 25vh; }
  body #nofetch {
    cursor: pointer; }
