$s-color:#192C54;
$l-color:#E9E9E9;
$smoke:whitesmoke;
$grey:#9CA1A6;
$val:0.5em;
$empty-val:none;
 @mixin display($scr){
    display:$scr;
 }
 @mixin area($areas){
     grid-area:$areas;
 }
 @mixin d_grid($g_display,$columns,$rows,$g_areas){
    display: $g_display;
    grid-template-columns:$columns;
    grid-template-rows:$rows;
    grid-template-areas:$g_areas;
 }
 @mixin d_flex($f_display,$direction,$justify,$align){
    display:$f_display;
    flex-direction:$direction;
    justify-content:$justify;
    align-items:$align;
 }
 @mixin size($hgt,$wdt){
    height:$hgt;
    width:$wdt;
}
 @mixin f_size($font){
     font-size:$font;
 }
 @function calculation($value, $factor){
     @return ($value * $factor);
 }
 %test{
    border:solid 1pc red;    
 }
@mixin size($hgt,$wdt){
    height:$hgt;
    width:$wdt;
}
body{
    background-color:$s-color;
    color:$l-color;

    .img{
        @include area(img);
    }
    .form{
        @include area(form);
    }
    .dock{
        background-color:$l-color;
        @include size(250px,700px);
        @include d_grid(grid,
                        60% 40%,
                        1fr,
                        'img form')
    }
}

