/*scss file*/
@import url('https://fonts.googleapis.com/css2?family=Unna:wght@700&display=swap');
$b-color:#141F3C;
$s-color:#192C54;
$lb-color:#4C5A75;
$l-color:#E9E9E9;
$c-color:#E7DAD1;
$smoke:whitesmoke;
$grey:#9CA1A6;
$val:0.5em;
$empty-val:none;
$hidden:hidden;
 @mixin display($scr){
    display:$scr;
 }
 @mixin area($areas){
     grid-area:$areas;
 }
 @mixin d_grid($g_display,$columns,$rows,$g_areas){
    display: $g_display;
    grid-template-columns:$columns;
    grid-template-rows:$rows;
    grid-template-areas:$g_areas;
 }
 @mixin d_flex($f_display,$direction,$justify,$align){
    display:$f_display;
    flex-direction:$direction;
    justify-content:$justify;
    align-items:$align;
 }
 @mixin size($hgt,$wdt){
    height:$hgt;
    width:$wdt;
}
 @mixin f_size($font){
     font-size:$font;
 }
 @mixin radius($bdr){
     border-radius:$bdr; 
 }
 @mixin size($hgt,$wdt){
    height:$hgt;
    width:$wdt;
}
@mixin percent($p_vh){
    margin:$p_vh;
}
 @function calculation($value, $factor){
     @return ($value * $factor);
 }
 %test{
    border:solid 1pc red;    
 }
 body{
     margin:0;
     background-color:$s-color;
     color:$smoke; 
     font-family: 'Unna', serif;
 }
 .dock{
     @include size(100vh,100vw);
     @include d_grid(grid,
                     1fr,
                     20vh 55vh 20vh 5vh,
                     'header  header'
                     'main     main'
                     'data     data'
                     'footer footer');
 
                     header{
                        @include area(header);
                     }
                     main{
                        @include area(main);
                        background:$l-color;
                     }
                     #workersdata{
                        @include area(data);
                        background-color: black;
                        overflow:scroll;
                            #dataCat{
                                
                            }
                     }
                     footer{
                        @include area(footer);
                        background:white;
                        @include d_flex(flex,row,flex-start,center);
                        i{
                            margin-right:5px; 
                        }
                        strong{
                            margin-left:32em; 
                            background-color: $s-color;
                            color:$smoke;
                            padding:0.2em;
                                &:hover{
                                    color:$grey;
                                    cursor:pointer;
                                }
                        }
                     }
                     header,main,footer{
                         padding:0.5em;
                     }
                     main,footer{
                        color:#011126;
                     }
                     main{
                        #id,
                        #name,
                        #job,
                        #salary,
                        #label,
                        #inputGroupSelect01{
                            @include percent(0.5em 0)
                         }
                         #id{
                             width:10vw;
                         }
                         #normal{
                             margin-bottom:0.8em;
                         }
                         #send{
                             cursor:pointer;
                         }
                         #workersdata{
                             @include d_flex(flex,column,center,center)
                         }
                     }

}
